.exchange {
    padding: 15px;
    margin: 0 0 0 273px;
    width: 100%;
    @media (max-width: 1024px) {
        margin: 0 0 0 75px;
    }
    @media (max-width: 600px) {
        margin: 0;
        padding: 15px 15px 90px;
    }
}
.exchange-card {
    cursor: pointer;
    &__wrap {
        border: 1px solid #E2E2E8;
        &:nth-child(2n) {
            .exchange-card {
                background: rgba(83, 185, 234, 0.3);
            }
        }
        &:last-child {
            border-bottom: 1px solid #E2E2E8;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        @media(max-width: 480px) {
            &:nth-child(2) {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                overflow: hidden;
            }
        }
    }
    padding: 15px;
    transition: 300ms;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_head {
        border: 1px solid #E2E2E8;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        @media (max-width: 480px) {
            display: none;
        }
    }
    &__column {
        display: flex;
        align-items: center;
        &:nth-child(1) {
            flex: 0 1 20%;
        }
        &:nth-child(2) {
            flex: 0 1 80%;
        }
        @media(max-width: 480px) {
            flex-direction: column;
        }
    }
    &__item {
        width: 100%;
        padding: 5px;
        p {
            color: #4C4C66;
            font-family: 'Helvetica';
            font-weight: 500;
        }
        &_head {
            p {
                font-size: 25px;
                @media(max-width: 850px) {
                    font-size: 20px;
                }
                @media(max-width: 630px) {
                    font-size: 17px;
                }
            }
        }
        @media(max-width: 480px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        @media(max-width: 380px) {
            flex-direction: column;
            align-items: flex-end;
        }
    }
    &__rank {
        flex: 0 1 50%;
        font-size: 16px;
        @media(max-width: 810px) {
            display: none;
        }
    }
    &__image {
        flex: 0 1 50%;
        img {
            height: auto;
            width: 40px;
            @media(max-width: 480px) {
                width: 55px;
            }
            @media(max-width: 380px) {
                width: 70px;
            }
        }
    }
    &__title {
        flex: 0 1 40%;
        word-break: break-all;
    }
    &__title-text {
        font-size: 16px;
        word-break: break-word;
        @media(max-width: 480px) {
            font-size: 20px;
        }
        @media(max-width: 480px) {
            font-size: 16px;
            text-align: right;
            flex: 0 1 60%;
        }
    }
    &__markets {
        flex: 0 1 25%;
    }
    &__markets-text {
        font-size: 16px;
        @media(max-width: 480px) {
            font-size: 20px;
        }
        @media(max-width: 480px) {
            font-size: 16px;
        }
    }
    &__volume {
        flex: 0 1 35%;        
    }
    &__volume-text {
        font-size: 16px;
        @media(max-width: 480px) {
            font-size: 20px;
        }
        @media(max-width: 480px) {
            font-size: 16px;
        }
    }
    &__hidden {
        display: none;
        @media(max-width: 480px) {
            display: block;
            opacity: 0.5;   
            flex: 0 1 40%;
            font-size: 14px;
        }
    }
}

.exchange__description {
    padding: 10px;
    a{
        font-family: 'Helvetica';
        font-weight: 400;
        color: #53B9EA;
    }
    h2 {
        font-family: 'Helvetica';
        font-weight: 500;
        color: #4C4C66;
        font-size: 18px;
        margin: 0 0 10px 0;
    }
    h3 {
        font-family: 'Helvetica';
        font-weight: 500;
        color: #4C4C66;
        font-size: 18px;
        margin: 0 0 10px 0;
    }
    p {
        font-family: 'Helvetica';
        font-weight: 400;
        color: #4C4C66;
        margin: 0 0 10px 0;
    }
}
.no-description {
    font-family: 'Helvetica';
    font-weight: 500!important;
    color: #4C4C66;
    font-size: 18px;
}