@font-face {
    font-family: 'Helvetica';
    src: url('../assets/fonts/Helvetica Neue Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../assets/fonts/Helvetica Neue Medium.ttf') format('truetype');
    font-weight: 500;
}