@import './reset.scss';

// FONTS
@import './fonts.scss';

// VARIABLES
@import './variables.scss';

// INITIAL
#app {
    display: flex;
    height: 100%;
    @media(max-width: 600px) {
        flex-direction: column;
        justify-content: space-between;
    }
}

// FILES
@import 'components/App/App';
@import 'components/Sidebar/Sidebar';
@import 'components/CoinCard/CoinCard';
@import 'components/StatCard/StatCard';
@import 'components/Homepage/Homepage';
@import 'components/NotFoundPage/NotFoundPage';
@import 'components/Exchanges/ExchangesApp';
@import 'components/Cryptocaurrency/CryptocaurrencyApp';
@import 'components/News/NewsApp';